.chat-wrapper {
  height: 60vh;
  width: 100%;
}

.chat-header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.chat-body {
  display: flex;
  flex-direction: column;
  height: 102%;
  width: 100%;
  background-color: #f2f2f2;
}

.messages-container {
  overflow-y: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 32px 8px;

  .message {
    background-color: #dcf8c6;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 8px;
    align-self: flex-start;
    max-width: 85%;
  }

  .bot-message {
    align-self: flex-end;
    background-color: white;
  }
}

.input-container {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding-top: 4px;
  background-color: white;

  .send-query-btn-wrapper {
    border-radius: 50%;
    margin-left: 16px;
    background-color: #3f51b5;
  }
}

.chat-note-title {
  margin: 0 24px;
  width: inherit;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.stop-recording-btn {
  animation: pulse 0.8s infinite;
  background-color: white;
  border: 1px solid red;
  border-radius: 50%;
  margin: 2px;
  height: 12px;
  width: 12px;
  &:hover {
    height: 14px;
    width: 14px;
    animation: none;
    border-radius: initial;
    border: none;
    background-color: white;
  }
}

.audio-player-wrapper {
  display: inline-flex;
  align-items: center;
  width: 100%;
  visibility: hidden;
}

.active {
  visibility: visible;
}