.edit-note-wrapper {
  display: flex;
  justify-content: center;
  width: 45vw;
  max-width: inherit;
  min-width: 300px;
  height: 65vh;
  padding-bottom: 18px;
}

.edit-note-box {
  border-radius: 8px;
  width: 98%;
  overflow-y: scroll;
}

.edit-note-button {
  cursor: pointer;
  color: #80868b;
  font-size: 14px;
  margin-right: 8px;

  &:active {
    font-weight: 600;
  }
}

.loader-wrapper {
  margin: 0 8px;
  width: 100%;
}
