.edit-note-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: inherit;
  min-height: 60vh;
}

.edit-note-box {
  border-radius: 8px;
  width: 98%;
  overflow-y: scroll;
  margin-top: 8px;
}

.edit-note-body {
  color: #3f51b5;
  white-space: pre-wrap;
  background-color: #f2f2f2;
  min-height: 53vh;
}

.edit-note-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: -12px;
  margin-bottom: 4px;
}

.edit-note-body,
.edit-note-title {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 4px;

  &:empty:before {
    content: attr(data-placeholder);
    color: #80868b;
    cursor: text;
  }
  &:focus {
    outline: none;
  }
}

.edit-note-button {
  cursor: pointer;
  color: #80868b;
  font-size: 14px;
  background-color: white;
  border: none;

  &:active {
    font-weight: 600;
  }
}

.loader-wrapper {
  margin: 0 8px;
  width: 100%;
}
