.edit-note-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: inherit;
  height: 60vh;
}

.edit-note-box {
  border-radius: 8px;
  width: 98%;
  overflow-y: scroll;
}

.edit-note-button {
  cursor: pointer;
  color: #80868b;
  font-size: 14px;
  background-color: white;
  border: none;

  &:active {
    font-weight: 600;
  }
}

.loader-wrapper {
  margin: 0 8px;
  width: 100%;
}
