.new-note-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.new-note-box {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  width: 40vw;
  padding: 16px;
  max-height: 75vh;
  overflow-y: scroll;
}

.note-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.note-body {
  color: #3f51b5;
  white-space: pre-wrap;
}

.note-body,
.note-title {
  &:empty:before {
    content: attr(data-placeholder);
    color: #80868b;
    cursor: text;
  }
  &:focus {
    outline: none;
  }
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  :first-child {
    cursor: pointer;
    color: #80868b;
    border: none;
    background-color: white;
  }
  :active {
    font-weight: 600;
  }
}

.new-note-body-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .chat-button {
    display: inherit;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 2px 4px;
    color: #80868b;
    cursor: pointer;
    background-color: white;

    img {
      padding-right: 8px;
    }
    &:hover {
      background-color: #80868b21;
    }
    &:active {
      border: 1px solid;
      font-weight: 500;
    }
  }
}

@media only screen and (max-width: 414px) {
  .new-note-box {
    width: 65vw;
  }
}

@media only screen and (max-width: 915px) and (orientation: landscape) {
  .new-note-box {
    width: 60vw;
  }
}
