.new-note-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.new-note-box {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  width: 40%;
  padding: 16px;
}

.note-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.note-body {
  color: #3f51b5;
  white-space: pre-wrap;
}

.note-body,
.note-title {
  &:empty:before {
    content: attr(data-placeholder);
    color: #80868b;
    cursor: text;
  }
  &:focus {
    outline: none;
  }
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  :first-child {
    cursor: pointer;
    color: #80868b;
  }
  :active {
    font-weight: 600;
  }
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
}

.chat-button {
  display: inherit;
  height: 24px;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 2px 4px;
  color: #80868b;
  cursor: pointer;

  img {
    padding-right: 8px;
  }
  &:hover {
    background-color: #80868b21;
  }
  &:active {
    border: 1px solid;
    font-weight: 500;
  }
}

@media only screen and (max-width: 414px) {
  .new-note-box {
    width: 220px;
  }
}
