.new-or-edit-note-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  min-height: 44px;
}

.new-or-edit-note-box {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  width: 40%;
  padding: 16px;
}

.new-or-edit-note-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.new-or-edit-note-body {
  color: #3f51b5;
}

.new-or-edit-note-body,
.new-or-edit-note-title {
  &:empty:before {
    content: attr(data-placeholder);
    color: #80868b;
  }
  &:focus {
    outline: none;
  }
}
